.big-card{ 

   
   border-radius: 10px;
   width: 600px; 
   height: 600px; 
   margin-left: 10px;
   margin-top: 5px; 
   margin-right: 10px;
   display: flex; 
   flex-direction: column; 
   align-items: center;
  justify-content: flex-start;
} 

.big-card-title{ 
 
 margin-top: 8px;
 width: 600px;
} 

.big-card-description{ 
    margin-top: 10px;
   
    color: grey;
    width: 600px;
    object-fit: cover;
} 


.big-card-photo > img{ 

border-radius: 10px;
margin-left: -20px; 
width: 580px;
height: 250px;
object-fit: cover;

} 

