<header> 
    <app-menu-bar></app-menu-bar>
  </header>
    


  
  <app-menu-title> </app-menu-title>
    
    <div class="content-card"> 

      <div class="back-button">
      <a href="/"><< VOLTAR</a>
    </div>

      
      <div class="content-card-photo"> 
      <img src={{contentPhotoCover}} alt="" height="250px" srcset="">
      </div>
      
      
      <div class="content-card-title"> 
       <h1><a href="#">{{contentCardTitle}}</a></h1>
      </div>
      
      
      
      <div class="content-card-description">
      <p>{{contentCardDescription}}</p>
      </div>
      
      
      </div>
    
    
   
